{% extends 'layout.html' %}

{% block content %}
    <div class="entry">
        <h3>{{ object.headline }}</h3>
        <div class="entry_body">
            {{ object.body_text }}
        </div>
    </div>
    <h5>Comments</h4>
    <div class="comments">
        <form action="{% url 'blog:comment_add' pk=object.id %}" method="post">
            {% csrf_token %}
            {% include 'snippets/form_snippet.html' with form=comment_form %}
            <input type="submit" value="Submit" />
        </form>
        {% for comment in object.comment_set.all %}
            <p><strong>{{ comment.commenter }}</strong> says: {{ comment.comment }}</p>
        {% endfor %}
    </div>
{% endblock %}
